/* Trying to keep the HTML fully validated through https://jigsaw.w3.org/css-validator/#validate_by_input */

/* Global page settings (fonts etc) */

/* global (:root) variables for colors */

:root {
        --orange: #ff7f50;
        --visited: #722f37;
        --main-background: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);;
        --content-background: rgba(245, 245, 245, 0.8);
        --buttoncolor: rgba(255, 189, 3, 0.9);
}

/* end color variables */

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Helvetica', sans-serif;
    font-size: 1.2em;
    max-width: 100%;
}

/* END Global page settings */

/* Navigation section */

nav {
    padding: 0.8em;
    background-color: #2A2A2A;
}

ul {
    list-style-type: none;
    overflow: hidden; /* Hides any <li>-elements going outside of the list */
    color: green;
    padding: 5px;
}

li {
    display: inline;
}

li a {
    padding: 1.2em 1.2em 1.2em 0.8em;
    margin: 0;
    transition: 0.5s;
}

li > a:visited {
    color: var(--orange);
    transition: 0.5s;
}

li a:hover {
    text-decoration: none;
    color: #fff;
}

/* END Navigation section */

h1 {
    font-size: 3em;
}

h2, h3, h4, h5, h6 {
    font-size: 1.5em;
}

p {
    font-family: 'Georgia', serif;
    font-size: 1em;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--orange);
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--visited);
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5em 0 5em 0;
    background: var(--main-background);
}

.content-box {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#first {
    background: url(img/pexels-karolina-grabowska-4497762.jpg); /* Creates the box for the content with background image */
    background-size: cover;
    overflow: hidden;
    width: 30em;
    height: 28em;
    max-width: 100%;
    max-height: 100%; /* box settings ends here */
    position: relative;
    border-radius: 0.5em;
}

#second {
    background: url(img/pexels-ketut-subiyanto-4246238.jpg); /* Creates the box for the content with background image */
    background-size: cover;
    overflow: hidden;
    width: 30em;
    height: 28em;
    max-width: 100%;
    max-height: 100%; /* box settings ends here */
    position: relative;
    border-radius: 0.5em;
}

#third {
    background: url(img/pexels-deepanker-verma-1482061.jpg); /* Creates the box for the content with background image */
    background-size: cover;
    overflow: hidden;
    width: 30em;
    height: 28em;
    max-width: 100%;
    max-height: 100%; /* box settings ends here */
    position: relative;
    border-radius: 0.5em;
}


.article-content {
    position: absolute;
    bottom: 0;
    background-color: var(--content-background);
    width: 100%;
    padding-bottom: 1em;
    padding-top: 1em;
}

button {
    margin-top: 1em;
    padding: 10px;
    max-width: 15em;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    background: var(--buttoncolor);
}

button:hover {
    transition: 1s;
}

#contact, footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: wrap;
    align-items: left;
    padding: 1em;
    background-color: #000000;
    color: white;
}

#copyright {
    padding-left: 1em;
    padding-bottom: 1em;
}

#top > a:hover {
    text-decoration: none;
}